/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a.hover {
	text-decoration: none;
}
body a:hover{
	color: #0066CC;
}
html {
	/*height: 100%;*/
}
body {
	background: #FFFFFF;
	color: #999;
	font: normal 0.7em sans-serif,Arial;
	margin: 5px 0;
	text-align: center;
	height: 100%;
}
.newscode code {
	color: #000000;
	border: 3px double #EEE; 
	border-color: #000 #000 #000 #000; 
	display: block;
	font: normal 0.95em "Lucida Sans Unicode", monospace;
	margin-bottom: 6px;
	padding: 3px 6px;
	white-space: pre;
}
.newscodetitle a:hover {
	font-weight: normal;
}
.newscodetitle {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	margin: 0 0 1px 5px;
	padding: 0px;
	border-color: #000;
	border-width: 0 0 0 0;
	border-style: solid;
	font-weight: normal;
	color: #000000;
	font-size: 0.99em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FFFFFF;
	white-space: pre;
	text-decoration: underline;
    }
cite {
	color: #000;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding-left: 28px;
}
.main {
	background: #FFFFFF; 
	border: 3px double #FFF; 
	border-color: #141414 #202020 #222 #202020; 
	margin: 0px auto 0px auto; 
	text-align: left;
	width:60%; 
	min-height: 100%;
	margin-bottom: -50px;
	position: relative;
}
.item {
	background: #FFFFFF;
	padding: 8px 10px;
}
/* footer */
.footer {
	background: #CCCCCC;
	color: #000;
	padding: 0px;
} 
.footer .left, .footer .right {
	padding: 0 5px;
}

/* floats */
.left {float: left;}
.right {float: right;}
.clearer {height: 4px; clear: both;}