/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a {
	color: #EECC33;
	text-decoration: none;
}
a.hover {
	color: #999;
	text-decoration: none;
}
body a:hover{
	color: #0066CC;
}
html {
	/*height: 100%;*/
}
body {
	background: #FFFFFF url(img/kingpiece.png) no-repeat;
	color: #999;
	font: normal 0.7em sans-serif,Arial;
	margin: 5px 0;
	text-align: center;
	height: 100%;
}
h1 a{
	color: #EECC33;
	text-decoration: none;
}
ul {
	margin: 12px 0;
}
li {
	list-style: url(img/li.gif);
	margin-left: 18px;
}
.phpcode code {
	background: #FFFFFF;
	border: 1px double #EECC33; 
	border-color: #000 #0066CC #0066CC #0066CC; 
	display: block;
	font: normal 1.20em "Lucida Sans Unicode", monospace;
	margin-bottom: 6px;
	padding: 0px 0px 0px 0px;
	white-space: pre;

	
}
.newscode code {
	color: #0066CC;
	border: 3px double #EEE; 
	border-color: #000 #0066CC #0066CC #0066CC; 
	display: block;
	font: normal 0.95em "Lucida Sans Unicode", monospace;
	margin-bottom: 6px;
	padding: 3px 6px;
	white-space: pre;
}
.newscodetitle a:hover {
	font-weight: normal;
	color: #0066CC;
}
.newscodetitle {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	margin: 0 0 1px 5px;
	padding: 0px;
	border-color: #A9B8C2;
	border-width: 0 0 0 0;
	border-style: solid;
	font-weight: normal;
	color: #0066CC;
	font-size: 0.99em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FFFFFF;
	white-space: pre;
	text-decoration: underline;
    }
.errorcodetitle a:hover{
	font-weight: normal;
	color: #0066CC;
}
.errorcodetitle {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	margin: 0 0 0 5px;
	padding: 5px;
	border-color: #000000;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	font-weight: normal;
	color: #0066CC;
	font-size: 1.00em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #000000;
	white-space: pre;
	text-decoration: underline;
    }
.codecontent code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #000 #0066CC #0066CC #0066CC; 
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #0066CC;
	font-size: 1.00em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FFFFFF;
	white-space: pre;
    }

.codecontentview code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 500px;
	white-space: normal;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #000 #0066CC #0066CC #0066CC; 
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #0066CC;
	font-size: 1.00em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FFFFFF;
	white-space: pre;
    }

cite a:hover {
	color: #0066CC;
}
img {
	border-width: 0 0px 0px 0px;
}
cite {
	background: url(img/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.2em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding-left: 28px;
}


/* main structure */
.main {
	background: #FFFFFF; 
	border: 3px double #EEE; 
	border-color: #141414 #202020 #222 #202020; 
	margin: 0px auto 0px auto; 
	text-align: left;
	width:60%; 
	min-height: 100%;
	margin-bottom: -50px;
	position: relative;
}
.leftcol 
	{
	text-align: right;
	width: 20%;
	float: left
	padding: 8px 10px;
	}

.midcol 
	{
	padding-left: 36px;
	width: 50%;
	float: left
	}

.rightcol 
	{
	font-size: 10px;
	font-style: italic;
	line-height: 20px;
	padding-left: 3%;
	width: 15%;
	float: left
	position: relative;
	}
.menu2 a {
/*	background: #000 url(img/bgmenu.png) repeat-x; */
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	border-top: 1px solid #1A1A1A;
	border-bottom: 1px solid #1A1A1A;
	color: #444;
	float: left;
	font-size: 1.2em;
	padding-top: 4px;
	width: 90px; height: 20px;
}
.menu2 a span {
	padding-left: 6px;
}
.menu2 a:hover {
	background-position: left bottom;
	color: #000000;
	background: #0066CC;
}
.menu2 a#last {
	border-right: none;
	width: 150px;
}
/* header */
.gfx {
	background: #FFFFFF url(img/crownyellowkinggod.png) no-repeat;
	height: 165px;

}
.gfx h1 {
	color: #0066CC;
	font: normal 0.4em Tahoma,sans-serif;
	padding: 16px 20px;
}


/* menu */
.menu a {
/*	background: #000 url(img/bgmenu.png) repeat-x; */
	border-right: 1px solid #222;
	border-top: 1px solid #1A1A1A;
	border-bottom: 1px solid #1A1A1A;
	color: #444;
	float: left;
	font-size: 1.2em;
	padding-top: 4px;
	width: 90px; height: 20px;
}
.menu a span {
	padding-left: 6px;
}
.menu a:hover {
	background-position: left bottom;
	color: #000000;
	background: #0066CC;
}
.menu a#last {
	border-right: none;
	width: 150px;
}

/* menu small */
.menusmall a {
/*	background: #000 url(img/bgmenu.png) repeat-x; */
	border-right: 1px solid #222;
	border-left: 1px solid #222;
	border-top: 1px solid #1A1A1A;
	border-bottom: 1px solid #1A1A1A;
	color: #444;
	float: left;
	font-size: 1.2em;
	padding-top: 2px;
	padding-left: 4px;
	width: 90px; height: 20px;
}
.menusmall a span {
	padding-left: 6px;
}
.menusmall a:hover {
	background-position: left bottom;
	color: #000000;
	background: #0066CC;
}
.menusmall a#last {
	border-right: none;
	width: 150px;
}

/* menu small */
.menusmallrate a {
/*	background: #000 url(img/bgmenu.png) repeat-x; */
	border-right: 1px solid #222;
	border-left: 1px solid #222;
	border-top: 1px solid #1A1A1A;
	border-bottom: 1px solid #1A1A1A;
	color: #444;
	float: left;
	font-size: 1.2em;
	padding-top: 2px;
	padding-left: 4px;
	width: 20px; height: 20px;
}
.menusmallrate a span {
	padding-left: 6px;
}
.menusmallrate a:hover {
	background-position: left bottom;
	color: #000000;
	background: #0066CC;
}
.menusmallrate a#last {
	border-right: none;
	width: 150px;
}

/* content */
.content {
	background: #FFFFFF;
	border-top: 1px solid #1A1A1A;
	clear: both;
}
.content h1 {
	color: #666;
	background: #090909;
	font: bold 2.1em sans-serif,Arial;
	margin: 0 0 0px;
}
.content p {
	margin: 0 0 12px;
}
.item {
	background: #FFFFFF /*url(img/bgitem.gif) repeat-x*/;
	padding: 8px 10px;
}


/* footer */
.footer a:hover{
	color: #0066CC;
}
.footer {
	background: #0A0A0A;
	color: #666;
	padding: 0px;
} 
.footer .left, .footer .right {
	padding: 0 5px;
}

/* floats */
.left {float: left;}
.right {float: right;}
.clearer {height: 4px; clear: both;}

/* ----- FORM CSS ----- */
.error{
	color: #0066CC;
        font: bold 1.0em sans-serif,Arial;
}
form li.focused{
	background-color:#000000;
}
form li.focused, form li:hover{
	position:relative; /* Makes Instructs z-index stay on top in IE. */
}
form .instruct{
	position:static;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	margin:0 0 0 0px;
	padding:1px 1px 1px 1px;
	border:0px solid #e6e6e6;
	background:#f5f5f5;
	line-height:130%;
	font-size:90%;
	color:#000;
	visibility:hidden;
}
form .instruct small{
	font-size:105%;
}
form li.focused .instruct, form li:hover .instruct{
	left:100%; /* Prevent scrollbars for IE Instruct fix */
	visibility:visible;
}
