<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="To much to describe"/>
<meta name="keywords" content="everything"/> 
<meta name="author" content="R. Goddard"/> 
<link rel="stylesheet" type="text/css" href="default.css"/>
<title>King Goddard / Magi / Vamp Portal / Venom Clan</title>
</head>

<body>

<div class="main">

	<div class="gfx"><h1>King Goddard</h1></div>

	<div class="menu">
		<a href="index.html"><span>News</span></a>
		<a href="index.html"><span>Portfolio</span></a>
		<a href="http://www.vampteam.com/forum/"><span>Community</span></a>		
		<a href="index.html" id="last"><span>Contact</span></a>
	</div>

	<div class="content">

		<div class="item">
			<h1>Staticness</h1>
			<p>I'm resorting to some staticness for awhile.  I know its strange not very many people do the oldschool HTML thing anymore, but with all the work I've been doing on Magi Framework and Vamp Portal I don't have much time.</p>
			<cite>Thats right! Magi Framework and Vamp Portal.  The idea behind it all is if you don't like Vamp Portal you don't have to use it, but if you don't like Magi Framework you don't have to use that either.</cite>
			<p>It seems pretty basic to me straight forward.  I'll keep chugging away on this project let you know how it turns out.</p>
		</div>

		<div class="item">
			<h1>Venom Clan</h1>
			<p>Where did we come from and where did we go? Venom has been pretty quite lately.  Not much going on and not much planned for the future.  We are still here.  Still kickin back kickin creature crack. Roster is as follows.</p>
			<ul>
				<li>Myself(GRIM)</li>
				<li>Myrkul</li>
				<li>Tommy</li>
			</ul>
			<p>If your interested in a game or two I play everything.  D&D Online, Icewind Dale II, Baldur's Gate II, Neverwinter Nights, Neverwinter Nights 2, Asheron's Call 2, and just about every other game out.</p>
		</div>

		<div class="item">
			<h1>Project Status</h1>
			<p>Since Vamp Portal was put on the back burner I've been working more on Magi a framework that will be incorporated into Vamp Portal. Most of the features that are most popular today because of obvious usefulness are implemented. For example MVC, Ajax, Factory and Singleton patterns, as well as abstraction and good old fashion OOP. If thats still not enough for you I will be throwing some desktop programming at you soon as well. In PHP no less that will also be apart of VP.</p>
			<code>////////////////////////////////////
// Begin System
////////////////////////////////////
include($locate['ROOT'].$locate['CORE'].$locate['MAGI_CORE']);</code>
			<p>Just a little taste.</p>
		</div>

	</div>

	<div class="footer">
	
		<span class="left">&copy; 2008 <a href="index.html">KingGoddard.com</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a></span>
		
		<span class="right"><a href="http://vampteam.com/vp/">Developed by the creators of</a> VP <a href="http://vampteam.com">Vamp Team</a></span>

		<div class="clearer"><span></span></div>

	</div>

</div>

</body>

</html>